*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
}


#home{
    min-height: 100vh;
    width: 100%;
    background-color: #fffbfb;
    padding: 0 20px;
    position: relative;
   
}



#check{
    display: none;
}
i {
    color: #cfa2a8;
    cursor: pointer;
}
nav label {
    font-size: 25px;
    display: none;
    line-height: 20px;
    margin: 20px 5px;
}
nav{
    top: 0;
    left: 0;
    padding: 0 7px;
    cursor: pointer;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;

}

nav .logo .image{
    flex: 1;
    margin-left: 30px;
}

nav .logo img,  img{
    width: 70px;
    height: 70px;
   
}

nav ul{
    display: flex;
    position: relative;
   
}

nav ul li a{
    position: relative;
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    color: #cfa2a8;
   
}



.contents{
    
    width: 100%;
    display: flex;
    align-items: center;
  

}

.contents .text-box{
    position: relative;
    max-width: 600px;
    padding: 0 20px;
    margin-top: 5%;
   

}

.text-box h2{
    color: #868686;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 900;
    padding: 30px 0;
    text-transform: capitalize;
}

.text-box h2 span{
    color: #cfa2a8;
    font-size: 35px;
    
}


.text-box a.btn, .btn{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px ;
    background-color:  #cfa2a8;
    color: #fffbfb;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
}

.text-box a.btn:hover, .info .button:hover, .text .button:hover{
    letter-spacing: 3px;
    margin-bottom: 2px;
    background-color: #f8dadf;
    color: #cfa2a8;
}

.social-icon i {
    color: #cfa2a8;
    font-size: 35px;
    display: flex;
    cursor: pointer;

}


.social-icon a {
    display: inline-block;
    margin: 30px 10px;
    transform: scale(0.7);
    transition: 0.5s;
    cursor: pointer;

}

.social-icon a:hover,
.social-icon i:hover {
    transform: scale(0.7) translateY(-15px);
    color: #ac8c90;

}

.images{
    height: 100%;
    width: 100%;
    position: relative;
}

.images img{
    position: relative;
    height: 550px;
    top: 30px;
    left: 70px;
    border-radius: 30px;
    width: 600px;
    transform: rotateX(-17deg);
    animation: animat 7s linear infinite ;
    
}


@keyframes animat{
  

    50%{
        top: 0;
        left: 5px;
    }

    75%{
     
        left: 5px;
        bottom: 2px;
    }
}

#services {
    background-color: #f8dadf;
    min-height: 50vh;
    padding:10px 0;
    
}

.container h1{
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 55px;
}

.container h1 span{
    color: #ac8c90;
}

.service-box{
    margin: 5% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.text-content{
    padding: 0 20px;

}

.text{
    width: 280px;
    height: 320px;
    background-color: #fffbfb;
    border-radius: 10px;
    padding: 20px 10px;
}


.text h2 {
    color: #cfa2a8;
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 1.2;
    text-transform: capitalize;
    text-align: left;
}
.text p {
    color: #868686;
    font-size: 18px;

}
#products{
    padding: 0;
    background-color: #fffbfb;
}



.products h1, .about h1{
    font-size: 55px;
    display: flex;
    padding: 30px 0;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.products h1 span, .about h1 span{
    color: #cfa2a8;
    margin-left: 15px;
}
.products h2 {
    text-align: center;
}
.product-box{
    width: 95%;
    margin: 0 auto ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.product-card{
    width: 300px;
    height: 420px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #ac8c90;
    box-shadow: 0 0 10px rgb(0, 0,0, 0.1);
}

.product-card .image{
    width: 295px;
    border-radius: 10px;
    height: 330px;
    margin: 1px auto;
    overflow: hidden;

}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;

}

.image:hover img{
    transform: scale(1.1);
}

.info h3{
    width: 60%;
    text-align: center;
    margin: 2px auto;
    font-size: 25px;
    color: #f8dadf;
    text-transform: capitalize;
}

.info p{
    font-size: 18px;
    text-align: center;
    color: #f8dadf;
    
}

.products .btn.one, .products .btn.two{
    padding: 15px 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
}

.btn.one:hover, .btn.two:hover{
    letter-spacing: 6px;
    margin-bottom: 20px;
    background-color: #ac8c90;
    color: #cfa2a8;
}

.info .button, .text .button{

    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #cfa2a8;
    color: #fffbfb;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
}

#product-legend{
    background-color: #f8dadf;
}

#about{
    background-color: #fffbfb;
  
}

.about p , .text-box p{
    color: #868686;
    font-size: 25px;

}
.about p span{
    color: #cfa2a8;
    text-transform: capitalize;
    
}

.about p span.scent{
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 900;
}



.about-text{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 50px;
    overflow: hidden;
   
}

.about-info{
    padding:30px 10px ;
    border: 1px solid #cfa2a8;
    margin-left: 100px;
    
}

.image-about img, .about-info{
    height: 500px;
    border-radius: 30px;
    width: 500px;
        
}

#footer{
    background-color: #f8dadf;
    min-height: 40vh;
    padding: 10px 30px;
}

.footer{
    display: flex;
    padding: 40px 0;
    width: 100%;
    text-align: center;
   
        
}

.footer .colum-2{
    flex-grow: 2;
   
}

.footer .colum-2 h3, .colum-1 h3, .colum-3 h3{
    font-weight: 900;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #cfa2a8;
    font-size: 25px;
}

#footer .oasis{
    font-size: 13px;
    color: #cfa2a8;
    text-align: end;
    text-transform: capitalize;
    padding-right: 20px;
}

form input{
    background: transparent;
    border: 2px solid #ac8c90;
    width: 300px;
    height: 35px;
    padding: 0 20px;
    font-size: 15px;
    border-radius: 4px;
    text-align: center;
    margin: 10px ;
    outline: none;
   
}

form input::placeholder{
    color: #ac8c90;
    font-weight: 600;
}

form button.btn-message{
    font-weight: 600;
    background: transparent;
    border: 2px solid #ac8c90;
    color: #ac8c90;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.colum-1 ul li{
    position: relative;
    cursor: pointer;
    display: inline-block;
   
}

.colum-1 ul li a {
    font-weight: 900;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    text-transform: capitalize;
    color: #ac8c90;
}

.colum-1 ul li ul {
    position: absolute;
    width: auto;
    display: none;
    background-color: #fffbfb36;
    border-radius: 10px;
    color: #f8dadf;
}



.colum-1 ul li ul li {
    margin: 2px;
    width: 130px;
    display: block;
   
}

.colum-1 ul li a:hover, nav ul li a:hover{
    border: 2px solid #ac8c90;
    padding: 5px 8px;
    border-radius: 10px;
}
.colum-1 ul li:hover>ul {
    display: block;
}


.social-media, .social-media i{
    margin-top: 50px;
}




.social-media a{
    font-size: 25px;
    margin: 50px 10px;
    cursor: pointer;
    color: #ac8c90;
    transform: scale(0.8);
    transition: 0.5s;
}

.social p{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 900;
    color: #ac8c90;
}
.social p i{
    font-size: 20px;
}

.social-media a i:hover{
    transform: scale(0.8) translateY(-15px) ;
    color: #cfa2a8;
   
}


@media (max-width:700px){

  
    nav ul {
    
        position: absolute;
        z-index: 1;
        top: 100px;
        left: -100%;
        width: 100%;
        background: #fffbfb;
        flex-direction: row;
        transition: left 0.5s linear;
        
    
    }
    
 
    nav ul li a{
        color: #cfa2a8;
        font-size: 20px;
        border-bottom: 2px solid  #cfa2a8;
        width: 70%;
    }
    
    nav label {
        display: block;
        text-align: center;
    }
    
    .menu #close-icons {
        display: none;
    }
    
    #check:checked ~.menu #menu-icons {
        display: none;
    }
    
    #check:checked~.menu #close-icons {
        display: block;
    }
    
    #check:checked~ul {
        left: 0;
    }
    

    .contents, .about-text{
        flex-direction: column;
        margin-top: 90px;
        
    }

    .images img {
        padding: 10px ;
        width: 610px;
        top: 0;
        left: 3%;
        transition: left;
        animation: animat 1.9s linear infinite;
        
    }
        
        
    @keyframes animat {

        50% {
            right: 2px;
            left: 0;
        }
        
           
    }
        
    
  
    
    .text-content{
        padding-bottom: 15px;

    }

    .product-box, .service-box{
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }

    
    .about-text{
        gap: 20px;
      
    }


    .about h1{
        padding: 20px 0;
    }

    .about-info{
        padding: 10px ;
        margin-left: 0;
        height: 400px;
        width: 570px;
    
    }

    .image-about img{
        height: 470px;
        width: 570px;
        
    }

    .footer {
        flex-wrap: wrap;
        padding: 0 10px;
    }

    .colum-1 ul li {
        margin-bottom: 60px;
       
    }

    .colum-1 ul li a, .social p{
        font-size: 18px;
    }

    .colum-1 h3, .colum-2 h3{
        margin-top: 20px;
    }
    .colum-3 h3{
        margin-top: 40px;
        
    }

    .colum-3 form input{
        width: 520px;
       
    }

}


@media(max-width:600px){
    nav ul li a{
        font-size: 16px;
        margin-left: 30px;
      
    }
 
    .images img {
        
        width: 450px;
    
    }

    .service-box, .product-box {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .text{
        width: 100%;
        height: 250px; 
    }

    .text h2 {
        text-align: center;
    }

    .text p{
        font-size: 20px;
    }

    .product-card{
        width: 450px;
        height: 500px;
   
    }

    .product-card .image{
        width: 435px;
        height: 410px;
   
    }

    .about h1{
        flex-wrap: wrap;
       
    }

    .about p{
        font-size: 22px;
    }


    .about-info{
        height: 380px;
        width: 450px;
    
    }

    .image-about img{
        height: 420px;
        width: 450px;
        
    }

    .footer{
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .colum-3 form input{
        width: 400px;
    }
}